body, h1, h2, p, ul, li, a{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif, serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
@media (max-width: 739px){
    
}
img{
    display: block;
    max-width: 100%;
}
/* Header */
.header{
    background: #407BFF;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.header-nome a{
    display: block;
    color: #fff;
    font-size: 1.5em;
    font-family: cursive;
    flex: 1;
    padding: 10px 0;
    margin: 0 10px;
}
.header-lista{
    flex: 1;
    margin: 0 10px;
    align-self: center;
}
.header-lista ul{
    display: flex;
    float: right;
}
.header-lista a{
    color: #fff;
    display: inline-block;
    margin-left: 20px;
    padding: 5px 10px;
}
@media (max-width: 400px){
    .container{
        flex-direction: column;
        max-width: 300px;
    }
    .header{
        position: relative;
        max-width: 100%;

    }
    .header-nome a{
        margin: 0 0;
    }
    .header-lista{
        padding: 0px;
    }
    .header-lista a{
       margin: 0;
       padding: 0px;
}
}
@media (max-width: 739px){
    .header{
        position: relative;
    }
    .header-nome a{
        margin: 0px;
    }
    .header-lista{
        padding: 0px;
    }
    .header-lista a{
       margin-left: 15px;
       padding: 5px;
}
}

/* Main*/
.main{
    position: relative;
    top: 70px;

}
.main-info{
    flex: 1;
    margin: 200px 10px 0 10px;
}
.main-info p{
    text-align: left;
    color: #333;
    font-size: 1.5em;
}
.main-info h1{
    color: #333;

}
.main-info a{
    margin-top: 30px;
    color: #fff;
    background: #407BFF;
    padding: 15px 40px;
    text-align: center;
    width: 200px;
    border-radius: 20px;
    display: block;
}
.main-img{
    position: relative;
    flex: 1;
    margin: 20px 10px 0 10px;
}

@media (max-width: 739px){
    .main-info{
        margin: 20px 10px 0 10px;;
    }
    .main{
        top: 30px;
    }
    .main-img{
        position: relative;
        flex: 1;
        margin: 40px 10px 0 10px;
    }
}

/* Sobre*/
.sobre{
    margin-top: 150px;
    background: #407bff;
    padding: 60px;
}
.sobre-img{
    margin: 0 10px;
}
.sobre-info{
    margin: 0 10px 0 40px;
    flex: 1;
    color: #fff;
}
.sobre-info h2{
    margin-bottom: 20px;
    font-size: 2em;
}
.sobre-info p{
    font-size: 1.125em;
    line-height: 1.4em;
}
.p-baixo{
    margin-top: 20px;
}

.sobre-info a{
    margin-top: 40px;
    color: black;
    padding: 15px 40px;
    text-align: center;
    width: 200px;
    border-radius: 20px;
    display: block;
    background: #fff;
}
.sobre-info a:hover{
    color: white;
    background-color: #407bff;
}
@media (max-width: 400px){
    .sobre-img img{
        padding-bottom: 15px;
        margin: -180px auto 0 auto;
    }
}
@media (max-width: 739px){
    .sobre-img{
        padding: 0;
        margin: 0;
        margin-top: 210px;
    }
    .sobre{
        margin-top: 80px;
        padding: 20px;
    }
}
/*Projetos */
.projetos{
    padding: 40px 0;
}
.projetos h3{
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
}
.projetos h2, .projetos1 h2{
    padding-bottom: 20px;
    text-align: center;
    color: #fff;
}
.projetos p, .projetos1 p{
    text-align: center;
    color: #fff;
}
.projetos-sobre{
    width: 120px;
    height: 180px;
    border-radius: 10px;
    flex: 1;
    background: #407bff;
    margin: 0 10px;
}
@media (max-width: 400px){
    .projetos{
        padding: 40px 0 0px 0;
    }
    .projetos-sobre h2{
        font-size: 0.875em;
        height: 70px;
    }
    .projetos-sobre{
        margin-bottom: 20px;
    }
    .projetos1{
        float: right;
        margin-top: -325px;
        margin-right: 20px;
    }
}
@media (max-width: 739px){
    .projetos{
        margin-top: -20px;
    }
}
/*Estudos 
*/
.estudo{
    margin-top: 60px;
    padding: 0 250px 80px 250px;
    background: #407bff;
}
.estudo h2{
    color: #fff;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.estudo-img{
    background: #fff;
    flex: 1;
    margin: 20px 10px;
}
.estudo-img h3{
    text-align: center;
    margin-bottom: 20px;
}
@media (max-width: 400px){
    .estudo{
        margin-top: 20px;
    }
}
@media (min-width: 740px) and (max-width: 1130px){
    .estudo{
        padding: 0 80px 80px 80px;
    }
}
@media (max-width: 739px){
    .estudo{
        margin-top: 40px;
        padding: 0 0px 80px 0px;
    }
}
/*Footer */
.footer {
    margin-top: 60px;
    background: #90CAF9;
    padding-bottom: 20px;
}
.footer h2{
    text-align: center;
    padding: 25px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-info p{
    text-align: center;
    margin: 0 auto;
    font-size: 1.125em;
}
hr{
    width: 810px;
}
.footer-autor{
    padding-top: 5px;
}
.footer-lista ul{
    padding-top: 10px;
    width: 145px;
    display: flex;
    margin: 0 auto;
}
.footer-lista img{
    margin: 0 10px;
}
@media (max-width: 739px){
    hr{
        width: 100%;
    }
    .footer{
        margin-top: 40px;
    }
}